*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

button{
    padding: 10px 20px;
    background-color: white;
    color: rgb(57, 99, 158);
    border-radius: 8px;
    cursor: pointer;
}


/* Header section */

.header-section{
    background-color:  rgb(57, 99, 158);
    padding: 15px 0px;
}

.header-container{
    display: flex;
    justify-content: space-around;
}

.header-container .LOGO{
    color: white;
}

.header-container nav{
    display: flex;
}

.header-container nav ul{
    display: flex;
    align-items: center;
}

.header-container nav ul li{
    list-style: none;
    padding: 0px 12px;    
}

.header-container nav ul li a{
    text-decoration: none;
    color: white;
}

.mobile-navbar-btn{
    display: none;
    background: transparent;
    cursor: pointer;
}

.mobile-nav-icon{
    width: 2.5rem;
    height: 4rem;
    margin: 5px;
}

.mobile-nav-icon[name="close-outline"] {
    display: none;
}


/* Examination css */

.examination{
    padding: 30px 0px;
}

.examination .top-examination-container{
    display: flex;
    justify-content: space-evenly;
    padding: 22px 0px;
}

.examination .top-examination-container .vertical-line{
    border-left: 2px solid grey;
    height: 150px;
    
}

.examination .top-examination-container .common-inner-exam{
    display: flex;
    gap: 15px;
}

.examination .top-examination-container .common-inner-exam i{
    margin-top: 20px;
}

.examination .container{
    max-width: 1120px;
    margin: auto;
}

.outer-bottom-examination-container {
    padding: 30px 0px;
}

.bottom-examination-container .card-wrapper .card{
    width: 300px;
}

.bottom-examination-container .slide-container{
    margin: 0px 30px;
    overflow: hidden;
}

.swiper-navBtn{
    color: #000;
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 50%;
}

.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 18px;
}

.bottom-examination-container .exam-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    color: white;
    background-color:  rgb(57, 99, 158);
    border-radius: 15px;
}

.bottom-examination-container .exam-details a{
    text-decoration: none;
    color: white;
}

.bottom-examination-container .exam-details .Know-More{
    cursor: pointer;
}

.bottom-examination-container .exam-details .Know-More i{
    margin-left: 5px;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
}

.swiper-pagination-bullet{
    background-color: #000;
}

@media screen and (max-width: 768px){
    .swiper-navBtn{
        display: none;
    }
}



/* Popularity CSS */

.popularity-details-container{
    display: flex;
    padding: 30px 125px;
    background-color: #80808021;
}

.popularity-details-container .popularity-details{
    padding: 0px 20px;
}

.popularity-details-container .popularity-details .popularity-count{
    font-size: 45px;
}


/* FAQ CSS */

.faq-section{
    padding: 20px 0px;
}

.faq-section h2{
    text-align: center;
}

.faq-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-container .faq{
    max-width: 1020px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid grey;
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3{
    font-size: 1.5rem;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.answer p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.2rem;
}

.faq.active .answer{
    max-height: 300px;
}


/* SubScribe css */
.subscribe{
    padding: 0px 20px;
    padding-top: 20px;
}

.subscribe-container{
    display: flex;
}

.subscribe-container .subscribe-details{
    width: 50%;
    padding: 80px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subscribe-container .subscribe-details .subscribe-now input{
    padding: 10px;
    width: 60%;
    border-radius: 5px;
    margin-right: 10px;
}

.subscribe-container .subscribe-details .subscribe-now button{
    background-color: rgb(57, 99, 158);
    color: white;
    cursor: pointer;
}


/* Contact us CSS */
.contact-us{
    padding: 30px 60px;
    background-color: rgb(57, 99, 158);
    color: white;
}

.contact-us .contact-us-container{
    display: flex;
}

.contact-us .contact-us-container .address{
    flex: 1;
}

.contact-us .contact-us-container .address h3{
    margin-bottom: 10px;
}

.contact-us .contact-us-container .follow-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.contact-us .contact-us-container .follow-us .platforms i{
    font-size: 25px;
    margin: 0px 10px;
}

.contact-us .contact-us-container .follow-us h3{
    margin-bottom: 10px;
}

.contact-us .contact-us-container .head-office{
    flex: 1;
}

.contact-us .contact-us-container .head-office h3{
    margin-bottom: 5px;
}

.contact-us .contact-us-container .head-office .common-location{
    display: flex;
    gap: 12px;
}

.contact-us .contact-us-container .head-office .common-location i{
    margin-top: 5px;
}


/* Footer CSS */
footer{
    background-color: rgb(57, 99, 158);
    padding: 10px;
    text-align: center;
    color: white;
    border: 2px solid grey;
}





/* ----------------- Responsive CSS ------------------- */

/* Navbar CSS */

@media (max-width: 1045px){
    nav ul .loremIpsum-link{
        display: none;
    }
}

@media (max-width: 800px){
    nav .enrollment-btn{
        display: none;
    }
}

@media (max-width: 680px){
    .mobile-navbar-btn{
        display: block;
        z-index: 999;
    }

    .header-container{
        position: relative;
    }

    nav ul .loremIpsum-link{
        display: block;
    }

    .my-navbar .search-link{
        display: none;
    }

    .my-navbar{
        /* display: none; */
        width: 100%;
        height: 100vh;
        background: rgb(57, 99, 158);
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;

        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .my-navbar ul{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .active-header .my-navbar{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active-header .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
        display: block;
    }

    .active-header .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
        display: none;
    }

    .header-container .mobile-navbar-btn i{
        height: 32px;
    }
}



/* Examination CSS */

@media (max-width: 1040px){
    .examination{
        font-size: 0.9rem;
    }

    .examination .top-examination-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 25px;
    }

    .examination .top-examination-container .vertical-line{
        display: none;
    }
}